h1,
div {
	text-align: center;
}

#input-box {
	margin: 8px;
	width: 220px;
	height: 48px;
}

input {
	margin: 6px 4px;
}

#btn {
	display: inline-block;
	padding: 8px;
	cursor: pointer;
	width: 180px;
	margin: 16px;
}
